In [1]:
import pandas as pd
import logging

# Log fayl manzili
log_path = r"C:\Users\Rasulbek907\Desktop\Hotel Booking Cancellation Prediction\Log\data_loader.log"

# Log sozlamalari
logging.basicConfig(
    filename=log_path,
    filemode='a',  # Append mode
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

try:
    logging.info("CSV fayl o'qilmoqda:...")
    df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Hotel Booking Cancellation Prediction\Data\Raw_Data\hotel_bookings_updated_2024.csv")
    logging.info(f"Fayl muvaffaqiyatli o'qildi. Satırlar soni: {len(df)} ustunlar soni: {len(df.columns)}")
except Exception as e:
    logging.error(f"CSV faylni o'qishda xatolik: {e}")

In [2]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,city
0,Resort Hotel - Chandigarh,0,342,2024,July,30,27,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,16:40.9,Chandigarh
1,Resort Hotel - Mumbai,0,737,2024,April,17,28,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,56:21.5,Mumbai
2,Resort Hotel - Delhi,0,7,2024,September,37,10,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,46:25.7,Delhi
3,Resort Hotel - Kolkata,0,13,2024,August,33,14,0,1,1,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,07:10.1,Kolkata
4,Resort Hotel - Lucknow,0,14,2024,September,37,14,0,2,2,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,27:32.5,Lucknow

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  city                            119390 non-null  object
dtypes: float64(4), int64(16), object(13)
memory usage: 30.1+ MB

In [7]:
print(df.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'city'],
      dtype='object')

In [8]:
X = df.drop(columns=['is_canceled'])
y = df['is_canceled']

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [10]:
import sys
import os

# Source papkasini yo'lga qo'shamiz
source_path = os.path.abspath("../Source")
if source_path not in sys.path:
    sys.path.append(source_path)

print("Python executable:", sys.executable)
print("Source path added:", source_path)

# Endi modulni import qilamiz
from preprosessing import Cleaner, Encoder, Scaler

Python executable: c:\Users\Rasulbek907\Desktop\Hotel Booking Cancellation Prediction\mpvenv\Scripts\python.exe
Source path added: c:\Users\Rasulbek907\Desktop\Hotel Booking Cancellation Prediction\Source

In [11]:
cleaner = Cleaner()
X_train = cleaner.fit(X_train).transform(X_train)
X_test = cleaner.transform(X_test)

In [12]:
encoder = Encoder(max_unique=5)
X_train = encoder.fit(X_train).transform(X_train)
X_test = encoder.transform(X_test)

In [13]:
scaler = Scaler()
X_train = scaler.fit(X_train).transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
X_train.head(5)

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Transient,customer_type_Transient-Party,customer_type_Contract,customer_type_Group,reservation_status_Check-Out,reservation_status_Canceled,reservation_status_No-Show
105447,2,-0.784882,0.0,9,1.240345,-0.762438,-0.928908,-0.261137,-1.464604,-0.259968,...,0.376353,-0.373938,-0.037342,0.577737,-0.518174,-0.187476,-0.068185,0.767037,-0.750710,-0.100391
85242,1,-0.897168,0.0,6,-0.157090,-0.421949,-0.928908,0.262232,0.246367,-0.259968,...,0.376353,-0.373938,-0.037342,-1.730891,1.929855,-0.187476,-0.068185,0.767037,-0.750710,-0.100391
65604,7,-0.101806,0.0,8,-0.356724,0.713015,-0.928908,0.262232,0.246367,-0.259968,...,-2.657082,2.674243,-0.037342,0.577737,-0.518174,-0.187476,-0.068185,-1.303718,1.332072,-0.100391
17345,23,-0.129877,0.0,0,-0.822536,-0.989431,3.077406,3.925816,0.246367,-0.259968,...,0.376353,-0.373938,-0.037342,-1.730891,-0.518174,5.334017,-0.068185,0.767037,-0.750710,-0.100391
117786,8,-0.897168,0.0,0,-0.822536,-1.443416,-0.928908,-0.784506,-1.464604,-0.259968,...,0.376353,-0.373938,-0.037342,0.577737,-0.518174,-0.187476,-0.068185,0.767037,-0.750710,-0.100391

In [15]:
X_test.head(5)

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Transient,customer_type_Transient-Party,customer_type_Contract,customer_type_Group,reservation_status_Check-Out,reservation_status_Canceled,reservation_status_No-Show
93581,9,-0.841025,0.0,5,0.175633,0.032036,-0.928908,-0.261137,0.246367,-0.259968,...,0.376353,-0.373938,-0.037342,-1.730891,1.929855,-0.187476,-0.068185,0.767037,-0.750710,-0.100391
115055,13,-0.915882,0.0,11,0.641444,-1.443416,-0.928908,-0.784506,0.246367,-0.259968,...,0.376353,-0.373938,-0.037342,-1.730891,1.929855,-0.187476,-0.068185,0.767037,-0.750710,-0.100391
56243,14,0.150839,0.0,5,0.042543,-1.670409,0.072671,0.262232,0.246367,-0.259968,...,0.376353,-0.373938,-0.037342,0.577737,-0.518174,-0.187476,-0.068185,-1.303718,1.332072,-0.100391
38448,15,-0.972026,0.0,6,-0.090546,0.826511,-0.928908,-1.307875,0.246367,-0.259968,...,0.376353,-0.373938,-0.037342,0.577737,-0.518174,-0.187476,-0.068185,0.767037,-0.750710,-0.100391
87074,14,0.319268,0.0,1,0.508355,1.053504,-0.928908,-0.784506,0.246367,-0.259968,...,0.376353,-0.373938,-0.037342,-1.730891,1.929855,-0.187476,-0.068185,0.767037,-0.750710,-0.100391

In [ ]:
print(train_df.columns)
print(test_df.columns)

In [16]:

X_train.to_csv(r"C:\Users\Rasulbek907\Desktop\Hotel Booking Cancellation Prediction\Data\Preprosessed\Train.csv")

In [17]:
X_test.to_csv(r"C:\Users\Rasulbek907\Desktop\Hotel Booking Cancellation Prediction\Data\Preprosessed\Test.csv")